.nav-top {
  box-shadow: $box-shadow;
  overflow: initial;
  position: fixed;
  width: 100%;
  background: $white;
  display: flex;
  flex-flow: column nowrap;
  height: 5rem;
  z-index: 2;
  top: 0;

  .nav-logo {
    width: 80%;
    margin: 0 auto;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  li {
    display: flex;
  }

  li>a {
    padding: 0 1.2rem;
    font-size: 18px;
    line-height: 28px;
    color: $nav-text;
    text-decoration: none;
    user-select: none;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: $fern;
      visibility: hidden;
      transform: scaleX(0);
      transition: all .3s ease-in-out;
    }

    &:hover {
      color: $nav-text-hover;

      &::before {
        visibility: visible;
        transform: scaleX(.5);
      }
    }
  }

  .avatar {
    color: $nav-text;

    &:hover {
      color: $nav-text-hover;
    }
  }
}
