.nav-top {
  box-shadow: $box-shadow;
  overflow: initial;
  position: fixed;
  width: 100%;
  background: $white;
  display: flex;
  flex-flow: column nowrap;
  height: 5rem;
  z-index: 2;
  top: 0;

  .nav-logo {
    width: 80%;
    margin: 0 auto;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-link {
    display: flex;
  }

  .avatar {
    color: $nav-text;

    &:hover {
      color: $nav-text-hover;
    }
  }
}

// pulled nav-link class out of nested
// selector to promote reusability and 
// reduce specificity issues
.nav-link {
  padding: 0 1.2rem;
  font-size: 18px;
  line-height: 28px;
  color: $nav-text;
  text-decoration: none;
  user-select: none;
  // position relative for animated underline
  position: relative;

  // animated underline stuff
  &::before {
    content: '';
    position: absolute;
    width: 100%;
    // underline thickness
    height: 2px;
    // underline positioning
    bottom: 0;
    left: 0;
    // underline color
    background-color: $fern;
    // hide underline until hover
    visibility: hidden;
    // 0 scale until hover
    transform: scaleX(0);
    transition: all .3s ease-in-out;
  }

  &:hover {
    color: $nav-text-hover;

    // animated underline stuff activates on hover
    &::before {
      visibility: visible;
      transform: scaleX(.5);
    }
  }
}
