.nav-top {
  overflow: initial;
  position: fixed;
  width: 100%;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  z-index: 1000;
  background: $white;
  top: 0;
  box-shadow: 0 2px 20px rgba(0,0,0,.1);

  @media (max-width: 550px) {
    padding: 0 0 0 1.2rem;
  }

  .nav-logo {
    height: 100%;
    width: auto;
    margin: 0 auto;
    flex: 1;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 30%;

    @media (max-width: 1366px) {
      width: 40%;
    }

    @media (max-width: 900px) {
      width: auto;
    }
  }
  
  li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo-link {
    display: flex;
    height: 30px;
    width: auto;
  }
}

// pulled nav-link class out of nested
// selector to promote reusability and
// reduce specificity issues
.nav-link {
  @include underline-anim;
  padding: 0 1.2rem;
  font-size: 18px;
  line-height: 28px;
  color: $shadow;
  user-select: none;

  &:hover {
    color: $nav-text-hover;
  }

  @media (max-width: 550px) {
    font-size: 16px;
  }
}

.nav-side {
  box-shadow: $box-shadow-2;
  display: flex;
  background: $deep-blue;
  width: $sidebar-width;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 5px 5px 0;

  ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }

  li {
    display: flex;
  }

  .nav-link,
  .profile {
    padding: 0.5rem 0;
    line-height: normal;
    color: $light;
    font-size: 1rem;

    &:hover {
      color: $purp;
    }
  }
}