.contactPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:     cover;      
    background-repeat:   no-repeat;
    background-position: center center;   
    background-image: linear-gradient(rgba(11, 129, 0, 0.9), rgba(5, 58, 156, 0.8)), url('../../assets/img/assorted-color-wall-paint-house-photo-1370704.jpg');
    height: 100vh;

    form {
        padding: 25px;
        width: 50%;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        background-color: rgba(39, 39, 39, 0.212);
    
        h1 {
            margin-bottom: 20px;
            color: rgba(255, 255, 255, 0.719);
        }
    
        input {
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 10px 40px 10px 10px;
            font-family: $primary-font;
            border: none;
            color: rgb(255, 255, 255);
            letter-spacing: 1px;
            background-color: rgba(255, 255, 255, 0.212);
        }

        input::placeholder { 
            color: rgb(255, 255, 255);
            letter-spacing: 2px;
          }
    
        textarea {
            border-radius: 5px;
            margin-bottom: 20px;
            padding: 10px 40px 10px 10px;
            font-family: $primary-font;
            border: none;
            letter-spacing: 1px;
            color: rgb(255, 255, 255);
            background-color: rgba(255, 255, 255, 0.212);
        }

        textarea::placeholder {
            color: rgb(255, 255, 255);
            letter-spacing: 2px;
          }

        button {
            border-radius: 2px;
            background-color: rgba(8, 138, 8, 0.658);
            color: white;
            font-family: 'Roboto', 'sans-serif';
            letter-spacing: 3px;
            width: 30%;
            padding: 10px;
            border: none;
        }
    }
}