.contactPage {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size:     cover;      
    background-repeat:   no-repeat;
    background-position: center center;   
    background-image: linear-gradient(rgba(11, 129, 0, 0.9), rgba(5, 58, 156, 0.8)), url('../../assets/img/assorted-color-wall-paint-house-photo-1370704.jpg');
    height: 100vh;
}