.footerWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background: linear-gradient(30deg, #6159E5, rgb(94, 89, 192));
  height: 100%;
  padding: 20px 150px;

  .footerLink, .footerCopyright {
    font-family: Lato;
    font-size: 1rem;
    color: #FFFFFF;
    width: 300px;
  }

  .footerLink {
    text-align: right;
  }

  .footerLogo {
    height: 100%;
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 30px;
      width: auto;
      box-shadow: 0 9px 10px rgba(0,0,0,.2);
    }
  }
}