.contact-page {
  height: $nav-vh-calc;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-content {
  @include cardify;
  background: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 2rem;

  
  
  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    max-height: 75vh;
    margin-top: 3rem;
  } 

  .contact-form-card {
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 640px) {
      margin-top: 4rem;
      padding-top: 2rem;
      width: 100%;


      .desktop-form {
        margin: 0 auto;
        font-size: 2rem;
      }
    } 
  }

  .contactInfo {
    padding: 2rem;
    width: 40%;

    @media (max-width: 640px) {
      display: none;
    }
    
    h3 {
      margin: 1.5rem 0;
    }
    
    .contactType {
      display: flex;
      margin-top: 1rem;
      align-items: center;
      font-size: 1.2rem;
      
      .icon {
        font-size: 2rem;
        margin-right: 1.4rem;
      }
    }
    
    .desktop-contact {
      @media (max-width: 640px) {
        display: none;
      } 
    }

    .contactIcons {
      display: flex;

      @media (max-width: 640px) { 
        display: none;
      }

      .icon-link {

        hover: {
          cursor: pointer
        }
      }

      .icon {
        font-size: 2rem;
        margin-right: 1.5rem;
      }
    }
  }
}
