// 100vh container for all the marketing pages
.landing-container {
    @include nav-adjust();
    background: url('../../../assets/svg/landing-light-purple.svg') no-repeat, url('../../../assets/svg/landing-dark-purple.svg') no-repeat;
    background-position: center, center;
    background-size: 100%;
    width: 100%;
    z-index: -2;

    .header {
        max-width: 1200px;
        width: 100%;
        height: 90vh;
        display: flex;
        align-items: center;
        padding: 2.5rem;
        margin: .5rem auto 2.5rem auto;
        
        h4, button {
            margin-top: 2.5rem;
        }
    
        .header-image {
            width: 100%;
            height: 250px;
        }
        
        .left {
            width: 100%;
            padding-right: 5rem;
            border-right: 3px solid rgba(196, 196, 196, .3);
        }

        .left-text {
            font-size: 2.8rem;
        }
    
        .right {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            width: 75%;
            padding-left: 3rem;

            .icon {
                margin-right: 2rem;
            }
    
            .header-button {
                background-color: rgba(249,168,38, 1);
                height: 50px;
                width: 100%;
                font-size: 1.2rem;
                color: white;
                border-radius: 6px;
                box-shadow: -10px 4px 28px rgba(0, 0, 0, 0.25);
            }
        }
    }
    
}

.content {
    height: $nav-vh-calc;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: black;

    .content-wrapper {
        width: 60%;
        height: auto;
        text-align: center;
    }
}

.content-wrapper {
    h2 {
        border-top: 2px rgba(255, 255, 255, 0.11) solid;
        margin: 1rem 0 2rem 0;
        padding-top: 1rem;
    }

    button {
        font-family: $primary-font;
        font-weight: 600;
        letter-spacing: 2px;
        border: solid rgba(255, 255, 255, 0.815) 2px;
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.788);
        background-color: rgba(249,168,38, 1);
        padding: .5rem 2rem;
    }
    .front-page-adv {
        text-align: left;
        margin-bottom: 15px;
        color:#34ebc0;

        svg {
            width: 30px;
            padding-right: 8px;
        }
    }

}

.form-wrapper {
    width: 500px;
}
/// LANDING PAGE MOBILE RESPONSIVENESS

@media (max-width: 400px) {
    .content-wrapper {
        h2 {
            font-size: 1.7em;
            transition: 1s;
        }

        h1 {
            font-size: 2.2em;
            transition: 1s;
        }
    
        button {
            font-family: $primary-font;
            font-weight: 600;
            letter-spacing: 2px;
            border: solid rgba(255, 255, 255, 0.815) 2px;
            border-radius: 2px;
            color: rgba(255, 255, 255, 0.788);
            padding: .5rem 2rem;
        }
    }
}

