// 100vh container for all the marketing pages
.landing-container {
  background: url('../../../assets/svg/landing-light-purple.svg') 25% 25%
      no-repeat,
    url('../../../assets/svg/landing-dark-purple.svg') 30% 30% no-repeat;
  background-size: 100%;
  z-index: -2;
  width: 100%;

  @media (max-width: 1000px) {
    background: url('../../../assets/svg/landing-light-purple.svg') 10% 10%
    no-repeat, url('../../../assets/svg/landing-dark-purple.svg') 15% 15% no-repeat;
    background-size: 175%;
  }

  .landing-content {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    .header {
      width: 100%;
      height: 80vh;
      display: flex;
      align-items: center;
      margin: 0.5rem auto 0.5rem auto;
        
      @media (max-width: 1200px) {
        padding: 5%;
      }

      @media (max-width: 1000px) {
        height: 100%;
        margin: 10% auto;
      }

      @media (max-width: 825px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 50px auto 10px auto;
      }

      h4 {
        margin-top: 2.5rem;

        @media (max-width: 825px) {
          margin-top: 1rem;
        }
      }

      .header-image {
        width: 100%;

        @media (max-width: 825px) {
          width: 70%;
          margin: 0 auto;
        }
      }

      .left {
        width: 100%;
        padding-right: 7rem;
        border-right: 3px solid rgba(196, 196, 196, 0.3);

        @media (max-width: 1000px) {
          padding-right: 2rem;
        }

        @media (max-width: 825px) {
          display: flex; 
          flex-direction: column;
          align-itmes: center;
          width: 90%;
          margin: 0 auto;
          padding: 0 0 2rem 0;
          border-right: none;
          border-bottom: 3px solid rgba(196, 196, 196, 0.3);
        }
      } 

      .left-text {
        width: 100%;
        font-size: 2.8rem;
        color: #2e3c50;
        line-height: 53px;
        text-align: center;

        @media (max-width: 625px) {
          font-size: 2rem;
          line-height: 45px;
        }
      }

      .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: left;
        width: 75%;

        @media (max-width: 825px) {
          align-items: center;
          width: 100%;
        }

        .icon {
          width: 30px;
          margin-right: 2rem;
        }

        .header-button {
          background-color: rgba(249, 168, 38, 1);
          height: 50px;
          width: 100%;
          font-size: 1.2rem;
          color: white;
          border-radius: 6px;
          margin-top: 2.5rem;
          box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }
}
