// 100vh container for all the marketing pages
.landing-container {
    @include nav-adjust();
    @include landing-bg("../assets/img/home-real-estate-106399.jpg");
}

.content {
    height: $nav-vh-calc;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: white;

    .content-wrapper {
        width: 60%;
        height: auto;
        text-align: center;
    }
}

.content-wrapper {
    h2 {
        border-top: 2px rgba(255, 255, 255, 0.11) solid;
        margin: 1rem 0 2rem 0;
        padding-top: 1rem;
    }

    button {
        font-family: $primary-font;
        font-weight: 600;
        letter-spacing: 2px;
        border: solid rgba(255, 255, 255, 0.815) 2px;
        border-radius: 2px;
        color: rgba(255, 255, 255, 0.788);
        padding: .5rem 2rem;
    }
    .front-page-adv {
        text-align: left;
        margin-bottom: 15px;
        color:#34ebc0
    }

}

.form-wrapper {
    width: 500px;
}
/// LANDING PAGE MOBILE RESPONSIVENESS

@media (max-width: 400px) {
    .content-wrapper {
        h2 {
            font-size: 1.7em;
            transition: 1s;
        }

        h1 {
            font-size: 2.2em;
            transition: 1s;
        }
    
        button {
            font-family: $primary-font;
            font-weight: 600;
            letter-spacing: 2px;
            border: solid rgba(255, 255, 255, 0.815) 2px;
            border-radius: 2px;
            color: rgba(255, 255, 255, 0.788);
            padding: .5rem 2rem;
        }
    }
}