.landlord-wrapper {
  @include landing-bg('../assets/img/home-real-estate-106399.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: $nav-vh-calc;
  width: 100%;
  min-width: 100vw;
  color: $white;

  .slider-wrapper {
    width:100%;
    position: relative;
    height: 60vh;
    overflow: hidden;

    .slider-content {
      text-align: center;

      .inner {
        padding: 0 70px;
        box-sizing: border-box;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        h1 {
          font-weight: 900;
          margin: 0 auto;
          max-width: 840px;
          color: #FFFFFF;
          font-size: 64px;
          line-height: 1;
        }
        p {
          color: #FFFFFF;
          font-size: 14px;
          line-height: 1.5;
          margin: 20px auto 30px;
          max-width: 640px;
        }
      }
    }
    
  }
  .slide {
    height: 60vh;
    background-size: cover !important;
  }
  
  .slide::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.9)));
      background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
      bottom: 0;
      left: 0;
  }
  
  .previousButton, .nextButton {
      position: absolute;
      left: 50%;
      transform: translateY(-50%);
      z-index: 10;
      background: url('../../../assets/img/arrow.png') no-repeat center center / 25px;
      width: 40px;
      height: 40px;
      text-indent: -9999px;
      cursor: pointer;
  }
  
  .previousButton {
    top: 15px;
    -webkit-transform: rotate(180deg) translateY(calc(50% + 0px));
            transform: rotate(180deg) translateY(calc(50% + 0px));
  }
  
  .previousButton:hover {
    width: 30px;
    height: 30px;
  }
  
  .nextButton {
    bottom: 15px;
    -webkit-transform: rotate(360deg) translateY(calc(50% + 0px));
            transform: rotate(360deg) translateY(calc(50% + 0px));
  }
  
  .nextButton:hover {
    width: 30px;
    height: 30px;
  }
  .slide h1 {
    transition: all 0.3s ease;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  
  .slide p {
    transition: all 0.3s ease;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  .slide.animateIn.previous h1,
  .slide.current h1,
  .slide.animateIn.next h1,
  .slide.animateIn.previous p,
  .slide.current p,
  .slide.animateIn.next p {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	-webkit-transition-delay: .9s;
					transition-delay: .9s;
					opacity: 1;
  }

  .slide.animateIn.previous p,
  .slide.animateIn.next p {
	  -webkit-transition-delay: 1.1s;
					transition-delay: 1.1s;
  }

   //tablet size 
  @media (max-height: 800px) {
      .slider-wrapper, .slide {
        width: 100%;
        height: calc(100vh - 10px);
      }    
    }
}