.renterView {
  color: $white;
  @include landing-bg('../assets/img/forRenters.jpg');
  height: auto;
  width: 100%;
  max-width: 100vw;
  
  .tenant-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 2%;

    .tenant-content {
      width: 40%;
      padding: 1%;
    }
  }

  //tablet size 
  @media (max-height: 800px) {
    .tenant-contents {
      flex-direction: column;

    .tenant-content {
      width: 80%;
      padding: 1%;
      margin-bottom: 2%;
    }
  }    
  }
}


