.renterView {
  color: $white;
  @include landing-bg('../assets/img/forRenters.jpg');
  height: $nav-vh-calc;
  width: 100%;
  max-width: 100vw;
  
  .tenant-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 2%;

    .tenant-content {
      width: 40%;
      padding: 1%;

    }
  }
}
