.update-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  min-height: 100vh;
  background: url('../../assets/svg/landing-light-purple.svg') 25% 25%
      no-repeat,
    url('../../assets/svg/landing-dark-purple.svg') 30% 30% no-repeat;
  background-size: 100%;
  z-index: -2;

  @media (max-width: 1000px) {
    background: url('../../assets/svg/landing-light-purple.svg') 10% 10%
    no-repeat, url('../../assets/svg/landing-dark-purple.svg') 15% 15% no-repeat;
    background-size: 175%;
  }

  .updatepw-form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3%;
    max-width: 600px;
    width: 100%;
    min-height: 500px;
    height: 100%;
    border: none;
    box-shadow: 1px 3px 5px;
    border-radius: 20px;
    background-color: #fff;

    .updatepw-title {
      font-size: 3rem;
    }

    .line {
      width: 30%;
      margin: 2% 0;
      border: 3px solid #f9a826;
    }

    .updatepw-input {
      width: 80%;
      height: 2.6rem;
      border-radius: 5px;
      margin: 3% 0 0 0;
      padding-left: 2%;
      font-style: Lato;
      font-size: 1.2rem;
      outline-color: #f9a826;
    }

    .updatepw-span {
      color: #f9a826;
      cursor: pointer;
    }
  }
}
