.spotlightWrapper {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.spotHeadingWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin: 2% auto;
  padding: 2%;

  @media (max-width: 768px) {
    width: 95%;
  }

  @media (max-width: 500px) {
    flex-flow: column nowrap;
  }

  .spotHeaderImage {
    max-width: 500px;
    width: 100%;
    margin-right: 50px;
    z-index: 2;

    @media (max-width: 1000px) {
      width: 40%
    }

    @media (max-width: 500px) {
      width: 60%
    }
  }

  .spotHeading {
    width: 100%;
    color: #2E3C50;
    font-family: Lato;
    font-size: 3rem;
    line-height: 53px;

    @media (max-width: 768px) {
      font-size: 2rem;
      line-height: 38px;
    }

    @media (max-width: 500px) {
      width: 100%;
      margin-top: 15px;
      text-align: center;
      font-size: 1.6rem;
      line-height: 27px;
    }
  }
}

.spotlightCards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  
  .spotlightCard {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: #ffffff;
    align-items: center;
    padding: 1%;
    max-width: 200px;
    width: 100%;
    min-height: 250px;
    height: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: -10px 4px 28px rgba(0, 0, 0, 0.25);

    .spotCardImages {
      padding: 10px;
      max-width: 125px;
      width: 100%;
    }

    .spotCardContent {
      margin: 20px auto;
      width: 100%;
      font-size: 1rem;
      font-weight: 400;
      padding: 10px;
    }
  }
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 70px;

  .spotBtn {
    width: 290px;
    height: 50px;
    font-family: Lato;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: -10px 4px 28px rgba(0, 0, 0, 0.25);
    border: none;
    border-radius: 6px;
    background: #ffffff;
    color: #6C63FF;
    text-align: center;
    cursor: pointer;
    z-index: 2;
  }
}