.spotlightWrapper {
  height: 100%;
  width: 100%;
  margin: 20vh auto;
}

@media (max-width: 1200px) {
  .spotlightWrapper {
    padding: 5%;
  }
}

@media (max-width: 1000px) {
  .spotlightWrapper {
    margin: auto;
    width: 90%;
  }
}

.spotHeadingWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 100%;
  margin: 2% auto;
}

@media (max-width: 768px) {
  .spotHeadingWrapper {
    flex-flow: column nowrap;
    width: 100%;
  }
}

.spotHeadingWrapper .spotHeaderImage {
  max-width: 500px;
  width: 100%;
  margin-right: 50px;
  z-index: 2;
}

@media (max-width: 1000px) {
  .spotHeadingWrapper .spotHeaderImage {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .spotHeadingWrapper .spotHeaderImage {
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .spotHeadingWrapper .spotHeaderImage {
    width: 60%;
  }
}

.spotHeadingWrapper .spotHeading {
  width: 100%;
  color: #2e3c50;
  font-family: Lato;
  font-size: 3rem;
  line-height: 53px;
}

@media (max-width: 1000px) {
  .spotHeadingWrapper .spotHeading {
    font-size: 2rem;
    line-height: 38px;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .spotHeadingWrapper .spotHeading {
    font-size: 2rem;
    line-height: 38px;
    width: 70%;
    margin: 10px 0;
  }
}

@media (max-width: 500px) {
  .spotHeadingWrapper .spotHeading {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    font-size: 1.6rem;
    line-height: 27px;
  }
}

.spotlightCards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 1000px) {
  .spotlightCards {
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 70%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .spotlightCards {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .spotlightCards {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .spotlightCards {
    margin: 0 auto;
    flex-flow: column nowrap;
  }
}

.spotlightCards .spotlightCard {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  align-items: center;
  padding: 1%;
  max-width: 225px;
  width: 100%;
  min-height: 300px;
  height: 100%;
  border: none;
  border-radius: 10px;
  box-shadow: -10px 4px 28px rgba(0, 0, 0, 0.25);
  margin: 20px 0;
  transition: all 0.3s ease;
}

.spotlightCards .spotlightCard:hover {
  transform: scale(1.05) rotate(-1deg);
}

.spotlightCards .spotlightCard .spotCardImages {
  padding: 5px;
  max-width: 175px;
  height: 150px;
  margin: auto;
  width: 100%;
}

.spotlightCards .spotlightCard .spotDivider {
  margin: 10px auto 0;
  width: 30%;
  border-top: 2px solid #6c63ff;
}

.spotlightCards .spotlightCard .spotCardContent {
  display: flex;
  align-items: center;
  margin: auto;
  width: 100%;
  font-size: 1rem;
  height: 100px;
  font-weight: 400;
  padding: 10px;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;
  margin: 70px 0 70px 70px;
}

@media (max-width: 1000px) {
  .btnWrapper {
    justify-content: center;
    margin: 70px auto;
  }
}

.btnWrapper .spotBtn {
  width: 290px;
  height: 50px;
  font-family: Lato;
  font-size: 1.2rem;
  font-weight: 500;
  box-shadow: -10px 4px 28px rgba(0, 0, 0, 0.25);
  border: 1px solid #6c63ff;
  border-radius: 6px;
  background: #ffffff;
  color: #6c63ff;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnWrapper .spotBtn:hover {
  background: #6c63ff;
  color: #fff;
}
