//---------------------------------------
//                Mixins                 
//---------------------------------------

// Landing Page Height Mixins
@mixin landing-bg($url) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: $bg-gradient, url($url);
}

@mixin nav-adjust($padding: $nav-height, $height: $nav-vh-calc) {
  padding-top: $padding;
  min-height: $height;
}

// Button Mixin
@mixin button($bg: $btn-primary, $color: $btn-text-primary) {
  background-color: $bg;
  border-radius: 2px;
  color: $color;
  cursor: pointer;
  font-size: 1.5rem;
  padding: .5rem 2rem;
  text-align: center;
}

// Card Mixin
@mixin cardify($border: 0, $radius: 2px, $shadow: $box-shadow) {
  border: $border;
  border-radius: $radius;
  box-shadow: $box-shadow;
}

// Animation Mixins

// a sort of button push-in effect
@mixin animated-shadow {
  box-shadow: $box-shadow;
  transition: .25s;

  &:hover {
    box-shadow: $box-shadow-hover;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: $box-shadow-active;
    transform: translateY(-1px);
  }
}

// nav underline animation on hover
@mixin underline-anim($line-color: $fern) {
  text-decoration: none;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    // underline thickness
    height: 2px;
    // underline positioning
    bottom: 0;
    left: 0;
    // underline color
    background-color: $line-color;
    // hide underline until hover
    visibility: hidden;
    // 0 scale until hover
    transform: scaleX(0);
    // animation timing/easing
    transition: all .3s ease-in-out;
  }

  &:hover {
    &::before {
      visibility: visible;
      transform: scaleX(.5);
    }
  }
}

// Misc Mixins
// Disable Highlighting
@mixin no-select {
  user-select: none;
}

// Button Normalization
@mixin reset-btn {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  font-size: 100%;
  margin: 0;
  overflow: visible;
  padding: 0;
  vertical-align: baseline;
}

// Debug
@mixin db($color) {
  background: $color !important;
  background-color: $color !important;
}
