//---------------------------------------
//               Variables
//---------------------------------------
// Imports
@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');

//---------------------------------------
//                 Theme
//---------------------------------------

// Colors
$deep-blue: #2d3b4f;
$pewter: #66707f;
$gray: #555;
$fern: #76e276;
$emerald: #007f00;
$shadow: #333;
$hover-shadow: #777;
$active-shadow: #666;
$white: #fff;
$light: #e0d5d5;
$bg-gradient: linear-gradient(rgba(5, 58, 156, 0.8), rgba(2, 126, 33, 0.9));
$offwhite: #ececec;

// Fonts
$heading-font: 'Baloo',
Helvetica,
Arial,
sans-serif;
$primary-font: 'Roboto',
Helvetica,
Arial,
sans-serif;

// Box Shadow - hover and active are for transition effects
$box-shadow: 0 3px 6px $shadow;
$box-shadow-hover: 0 6px 10px $hover-shadow;
$box-shadow-active: 0 4px 8px $active-shadow;
$box-shadow-2: 0 15px 15px 10px rgba(0, 0, 0, 0.616);

// Components

// Buttons
$btn-primary: $deep-blue;
$btn-text-primary: $white;

// Nav

// Text Colors
$nav-text: $pewter;
$nav-text-hover: $deep-blue;

//---------------------------------------
//              Dimensions
//---------------------------------------
// navbar height
$nav-height: 80px;
// calc 100vh height accounting for nav height
$nav-vh-calc: calc(100vh - #{$nav-height});
// side nav width
$sidebar-width: 180px;
