//---------------------------------------
//               Variables               
//---------------------------------------

// Imports
@import url('https://fonts.googleapis.com/css?family=Baloo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
//---------------------------------------
//                 Theme                 
//---------------------------------------

// Colors
$deep-blue: #2d3b4f;
$pewter: #66707f;
$shadow: #555;
$fern: #76e276;
$emerald: #007f00;

// Fonts
$heading-font: 'Baloo',
Helvetica,
Arial,
sans-serif;
$primary-font: 'Roboto',
Helvetica,
Arial,
sans-serif;
